In [4]:
import pandas as pd

In [6]:
# 2 main data type
series = pd.Series(["BMW", "Toyota", "Honda"])

In [7]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
# series = 1-dimentional

In [9]:
colours = pd.Series(["Red","Blue","White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [11]:
# DataFrame = 2-dimentional
car_data = pd.DataFrame({"Car make" : series, "Colour" : colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

# My Code here

In [12]:
# series of food
foods = pd.Series(["Milk","Egg","Butter"])

In [14]:
# series of dollar values
prices = pd.Series([5,6,7])

In [15]:
# Combinig series of food and dollar into DataFrame
food_prices = pd.DataFrame({"Foods":foods, "price":prices})

In [16]:
# Showing Outpur
food_prices

    Foods  price
0    Milk      5
1     Egg      6
2  Butter      7